.card__list{
  @include list-unstyled;
}

.card__item{
  width: 100%;
  max-width: 869px;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  display: flex;
  max-width: 869px;
}

.card__title{
  font-weight: "Poppins";
  @include title-unstyled;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.card__text{
  @include title-unstled;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}

